services:
  keycloakdb:
    image: postgres:18
    networks:
      - marketspace

  catalogdb:
    image: postgres:18
    networks:
      - marketspace
  
  minio:
    image: minio/minio:latest
    networks:
      - marketspace
  
  basketdb:
    image: postgres:18
    networks:
      - marketspace

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    networks:
      - marketspace
  
  #  distributedcache:
  #    image: redis:latest
  
  orderdb:
    image: postgres:18
    networks:
      - marketspace

  merchantdb:
    image: postgres:18
    networks:
      - marketspace
  #
  #  messagebroker:
  #    image: rabbitmq:management
  
  catalog.api:
    image: ${DOCKER_REGISTRY-}catalogapi
    depends_on:
      - catalogdb
    build:
      context: .
      dockerfile: ./src/Services/Catalog/Catalog.Api/Dockerfile
    networks:
      - marketspace
  
  basket.api:
    image: ${DOCKER_REGISTRY-}basketapi
    depends_on:
      - basketdb
    build:
      context: .
      dockerfile: ./src/Services/Basket/Basket.Api/Dockerfile
    networks:
      - marketspace
  
  #  discount.grpc:
  #    image: ${DOCKER_REGISTRY-}discountgrpc
  #    build:
  #      context: .
  #      dockerfile: ./src/Services/Discount/Discount.Grpc/Dockerfile
  #  
  order.api:
    image: ${DOCKER_REGISTRY-}orderapi
    build:
      context: .
      dockerfile: ./src/Services/Order/Order.Api/Dockerfile
    networks:
      - marketspace

  merchant.api:
    image: ${DOCKER_REGISTRY-}merchantapi
    build:
      context: .
      dockerfile: ./src/Services/Merchant/Merchant.Api/Dockerfile
    networks:
      - marketspace
  
  backendforfrontend.api:
    image: ${DOCKER_REGISTRY-}backendforfrontendapi
    build:
      context: .
      dockerfile: ./src/Edges/BackendForFrontend.Api/Dockerfile
    networks:
      - marketspace
  #  
  #  gatewayapi:
  #    image: ${DOCKER_REGISTRY-}gatewayapi
  #    platform: linux/amd64
  #    build:
  #      context: .
  #      dockerfile: ./src/Gateways/GatewayApi/Dockerfile
  
  webapp:
    image: ${DOCKER_REGISTRY-}webapp
    build:
      context: .
      dockerfile: ./uis/WebApp/Dockerfile
    networks:
      - marketspace

  otelcollector:
    image: otel/opentelemetry-collector-contrib:latest
    networks:
      - marketspace
  
  prometheus:
    image: prom/prometheus:latest
    networks:
      - marketspace

  loki:
    image: grafana/loki:latest
    networks:
      - marketspace

  jaeger:
    image: jaegertracing/all-in-one:latest
    networks:
      - marketspace
  
  grafana:
    image: grafana/grafana:latest
    networks:
      - marketspace

networks:
  marketspace:
    driver: bridge

volumes:
  postgres_catalog:
  postgres_keycloak:
  postgres_order:
  postgres_merchant:
  mongo_basket_data:
  minio_data:
  otel_collector_config:
  prometheus_data:
  loki_data:
  jaeger_data:
  grafana_data:
  webapp:
