services:
  userdb:
    image: postgres
    networks:
      - marketspace

  catalogdb:
    image: postgres
    networks:
      - marketspace

  minio:
    image: minio/minio:latest
    networks:
      - marketspace

  basketdb:
    image: postgres
    networks:
      - marketspace

  #  distributedcache:
  #    image: redis:latest

  orderdb:
    image: postgres
    networks:
      - marketspace

  merchantdb:
    image: postgres
    networks:
      - marketspace

  paymentdb:
    image: postgres
    networks:
      - marketspace

  messagebroker:
    image: rabbitmq:management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - marketspace

  catalog.api:
    image: ${DOCKER_REGISTRY-}catalogapi
    depends_on:
      - catalogdb
    build:
      context: .
      dockerfile: ./src/Services/Catalog/Catalog.Api/Dockerfile
    networks:
      - marketspace

  basket.api:
    image: ${DOCKER_REGISTRY-}basketapi
    depends_on:
      - basketdb
    build:
      context: .
      dockerfile: ./src/Services/Basket/Basket.Api/Dockerfile
    networks:
      - marketspace

  #  discount.grpc:
  #    image: ${DOCKER_REGISTRY-}discountgrpc
  #    build:
  #      context: .
  #      dockerfile: ./src/Services/Discount/Discount.Grpc/Dockerfile
  #
  order.api:
    image: ${DOCKER_REGISTRY-}orderapi
    depends_on:
      - orderdb
      - messagebroker
    build:
      context: .
      dockerfile: ./src/Services/Order/Order.Api/Dockerfile
    networks:
      - marketspace

  merchant.api:
    image: ${DOCKER_REGISTRY-}merchantapi
    build:
      context: .
      dockerfile: ./src/Services/Merchant/Merchant.Api/Dockerfile
    networks:
      - marketspace

  payment.api:
    image: ${DOCKER_REGISTRY-}paymentapi
    depends_on:
      - paymentdb
      - messagebroker
    build:
      context: .
      dockerfile: ./src/Services/Payment/Payment.Api/Dockerfile
    networks:
      - marketspace

  user.api:
    image: ${DOCKER_REGISTRY-}userapi
    depends_on:
      - userdb
    build:
      context: .
      dockerfile: ./src/Services/User/User.Api/Dockerfile
    networks:
      - marketspace

  backendforfrontend.api:
    image: ${DOCKER_REGISTRY-}backendforfrontendapi
    build:
      context: .
      dockerfile: ./src/Edges/BackendForFrontend.Api/Dockerfile
    networks:
      - marketspace

networks:
  marketspace:
    driver: bridge

volumes:
  postgres_catalog:
  postgres_user:
  postgres_order:
  postgres_merchant:
  postgres_basket:
  postgres_payment:
  minio_data:
