services:
  userdb:
    container_name: userdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=UserDb
    restart: always
    ports:
      - "5437:5432"
    volumes:
      - postgres_user:/var/lib/postgresql

  catalogdb:
    container_name: catalogdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=CatalogDb
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_catalog:/var/lib/postgresql
  
  minio:
    container_name: minio
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=admin123
      - MINIO_DEFAULT_BUCKETS=food-delivery-catalog
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
  
  basketdb:
    container_name: basketdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=BasketDb
    restart: always
    ports:
      - "5433:5432"
    volumes:
      - postgres_basket:/var/lib/postgresql
  
  #  distributedcache:
  #    container_name: distributedcache
  #    restart: always
  #    ports:
  #      - "6379:6379"
  #
  orderdb:
    container_name: orderdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=OrderDb
    restart: always
    ports:
      - "5435:5432"
    volumes:
      - postgres_order:/var/lib/postgresql
  
  merchantdb:
    container_name: merchantdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=MerchantDb
    restart: always
    ports:
      - "5436:5432"
    volumes:
      - postgres_merchant:/var/lib/postgresql
  
  catalog.api:
    container_name: catalogapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=catalogdb;Port=5432;Database=CatalogDb;User Id=postgres;Password=postgres;;Include Error Detail=true;
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/home/app/.aspnet/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
    depends_on:
      - catalogdb
      - minio
    ports:
      - "6000:8080"
      - "6060:8081"
    volumes:
      - ${HOME}/.aspnet/https:/home/app/.aspnet/https:ro
      - ${HOME}/.aspnet/https:/root/.aspnet/https:ro
  
  basket.api:
    container_name: basketapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__basketdb=Server=basketdb;Port=5432;Database=BasketDb;User Id=postgres;Password=postgres;Include Error Detail=true;
      - GrpcSettings__DiscountUrl=https://discountgrpc:8081
      - MessageBroker__Host=amqp://ecommerce-mq:5672
      - MessageBroker__UserName=guest
      - MessageBroker__Password=guest
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/home/app/.aspnet/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
    depends_on:
      - basketdb
    ports:
      - "6001:8080"
      - "6061:8081"
    volumes:
      - ${HOME}/.aspnet/https:/home/app/.aspnet/https:ro
      - ${HOME}/.aspnet/https:/root/.aspnet/https:ro

  order.api:
    container_name: orderapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=orderdb;Port=5432;Database=OrderDb;User Id=postgres;Password=postgres;;Include Error Detail=true;
      - MessageBroker__Host=amqp://ecommerce-mq:5672
      - MessageBroker__UserName=guest
      - MessageBroker__Password=guest
      - FeatureManagement__OrderFullfilment=false
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/home/app/.aspnet/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
    restart: unless-stopped
    depends_on:
      orderdb:
        condition: service_started
    ports:
      - "6003:8080"
      - "6063:8081"
    volumes:
      - ${HOME}/.aspnet/https:/home/app/.aspnet/https:ro
      - ${HOME}/.aspnet/https:/root/.aspnet/https:ro

  merchant.api:
    container_name: merchantapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=merchantdb;Port=5432;Database=MerchantDb;User Id=postgres;Password=postgres;;Include Error Detail=true;
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/home/app/.aspnet/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
    restart: unless-stopped
    depends_on:
      merchantdb:
        condition: service_started
    ports:
      - "6005:8080"
      - "6065:8081"
    volumes:
      - ${HOME}/.aspnet/https:/home/app/.aspnet/https:ro
      - ${HOME}/.aspnet/https:/root/.aspnet/https:ro
  
  user.api:
    container_name: userapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__DefaultConnection=Server=userdb;Port=5432;Database=UserDb;User Id=postgres;Password=postgres;;Include Error Detail=true;
      - UseInMemoryDatabase=false
      - Jwt__Key=7cd2579f-9842-448a-b9a5-1414515c0af0
      - Jwt__Issuer=MarketSpace
      - Jwt__Audience=MarketSpaceClient
      - Jwt__AccessTokenExpirationMinutes=15
      - Jwt__RefreshTokenExpirationDays=30
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/home/app/.aspnet/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
    restart: unless-stopped
    depends_on:
      userdb:
        condition: service_started
    ports:
      - "7005:8080"
      - "7065:8081"
    volumes:
      - ${HOME}/.aspnet/https:/home/app/.aspnet/https:ro
      - ${HOME}/.aspnet/https:/root/.aspnet/https:ro
  
  backendforfrontend.api:
    container_name: backendforfrontendpi
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - Services__MerchantService__BaseUrl=https://merchantapi:8081
      - Services__CatalogService__BaseUrl=https://catalogapi:8081
      - Services__BasketService__BaseUrl=https://basketapi:8081
      - Services__OrderService__BaseUrl=https://orderapi:8081
      - Services__UserService__BaseUrl=https://userapi:8081
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/home/app/.aspnet/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
    restart: unless-stopped
    depends_on:
      merchant.api:
        condition: service_started
      catalog.api:
        condition: service_started
      basket.api:
        condition: service_started
      order.api:
        condition: service_started
      user.api:
        condition: service_started
    ports:
      - "5001:8080"
      - "5051:8081"
    volumes:
      - ${HOME}/.aspnet/https:/home/app/.aspnet/https:ro
      - ${HOME}/.aspnet/https:/root/.aspnet/https:ro
  
  webapp:
    container_name: webapp
    environment:
      - NODE_ENV=production
      - PORT=4000
      - API_BASE_URL=http://backendforfrontendpi:8080
      - USER_SERVICE_URL=http://userapi:8080
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    depends_on:
      - backendforfrontend.api
      - user.api
    restart: always
    ports:
      - "80:4000"
      - "4001:4000"

volumes:
  postgres_catalog:
  postgres_user:
  postgres_merchant:
  postgres_order:
  postgres_basket:
  minio_data:
