services:
  keycloakdb:
    container_name: keycloakdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=KeycloakDb
    restart: always
    ports:
      - "5434:5432"
    volumes:
      - postgres_keycloak:/var/lib/postgresql/data

  catalogdb:
    container_name: catalogdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=CatalogDb
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_catalog:/var/lib/postgresql/data
  
  minio:
    container_name: minio
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=admin123
      - MINIO_DEFAULT_BUCKETS=food-delivery-catalog
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
  
  basketdb:
    container_name: basketdb
    image: mongo:6.0
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_basket_data:/data/db
  
#  distributedcache:
#    container_name: distributedcache
#    restart: always
#    ports:
#      - "6379:6379"
#
#  orderdb:
#    container_name: orderdb
#    environment:
#      - POSTGRES_USER=postgres
#      - POSTGRES_PASSWORD=postgres
#      - POSTGRES_DB=OrderDb
#    restart: always
#    ports:
#      - "5435:5432"
#    volumes:
#      - postgres_order:/var/lib/postgresql/data
  
  merchantdb:
    container_name: merchantdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=MerchantDb
    restart: always
    ports:
      - "5436:5432"
    volumes:
      - postgres_merchant:/var/lib/postgresql/data
  
#  messagebroker:
#    container_name: messagebroker
#    hostname: ecommerce-mq
#    environment:
#      - RABBITMQ_DEFAULT_USER=guest
#      - RABBITMQ_DEFAULT_PASS=guest
#    restart: always
#    ports:
#      - "5672:5672"
#      - "15672:15672"
  
  catalog.api:
    container_name: catalogapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=catalogdb;Port=5432;Database=CatalogDb;User Id=postgres;Password=postgres;;Include Error Detail=true;
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/home/app/.aspnet/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
    depends_on:
      - catalogdb
      - minio
    ports:
      - "6000:8080"
      - "6060:8081"
    volumes:
      #   - ${HOME}/.microsoft/usersecrets:/home/app/.microsoft/usersecrets:ro
      #   - ${HOME}/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro
      - ${HOME}/.aspnet/https:/home/app/.aspnet/https:ro
      - ${HOME}/.aspnet/https:/root/.aspnet/https:ro
  
  basket.api:
    container_name: basketapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - DatabaseSettings__ConnectionString=mongodb://basketdb:27017
      - DatabaseSettings__DatabaseName=BasketDb
      - DatabaseSettings__CollectionName=ShoppingCarts
      - GrpcSettings__DiscountUrl=https://discountgrpc:8081
      - MessageBroker__Host=amqp://ecommerce-mq:5672
      - MessageBroker__UserName=guest
      - MessageBroker__Password=guest
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/home/app/.aspnet/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
    depends_on:
      - basketdb
#      - distributedcache
#      - discount.grpc
#      - messagebroker
    ports:
      - "6001:8080"
      - "6061:8081"
    volumes:
      #   - ${HOME}/.microsoft/usersecrets:/home/app/.microsoft/usersecrets:ro
      #   - ${HOME}/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro
      - ${HOME}/.aspnet/https:/home/app/.aspnet/https:ro
      - ${HOME}/.aspnet/https:/root/.aspnet/https:ro
  
#  discount.grpc:
#    container_name: discountgrpc
#    environment:
#      - ASPNETCORE_ENVIRONMENT=Production
#      - ASPNETCORE_HTTP_PORTS=8080
#      - ASPNETCORE_HTTPS_PORTS=8081
#      - ConnectionStrings__Database=Data Source=discountdb
#      - ASPNETCORE_Kestrel__Certificates__Default__Path=/home/app/.aspnet/https/aspnetapp.pfx
#      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
#    depends_on:
#      - basketdb
#      - distributedcache
#    ports:
#      - "6002:8080"
#      - "6062:8081"
#    volumes:
#      #   - ${HOME}/.microsoft/usersecrets:/home/app/.microsoft/usersecrets:ro
#      #   - ${HOME}/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro
#      - ${HOME}/.aspnet/https:/home/app/.aspnet/https:ro
#      - ${HOME}/.aspnet/https:/root/.aspnet/https:ro

#  ordering.api:
#    container_name: orderingapi
#    environment:
#      - ASPNETCORE_ENVIRONMENT=Production
#      - ASPNETCORE_HTTP_PORTS=8080
#      - ASPNETCORE_HTTPS_PORTS=8081
#      - ConnectionStrings__Database=Server=orderdb;Port=5432;Database=OrderDb;User Id=postgres;Password=postgres;;Include Error Detail=true;
#      - MessageBroker__Host=amqp://ecommerce-mq:5672
#      - MessageBroker__UserName=guest
#      - MessageBroker__Password=guest
#      - FeatureManagement__OrderFullfilment=false
#      - ASPNETCORE_Kestrel__Certificates__Default__Path=/home/app/.aspnet/https/aspnetapp.pfx
#      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
#    restart: unless-stopped
#    depends_on:
#      messagebroker:
#        condition: service_started
#      orderdb:
#        condition: service_started
#    ports:
#      - "6003:8080"
#      - "6063:8081"
#    volumes:
#      #   - ${HOME}/.microsoft/usersecrets:/home/app/.microsoft/usersecrets:ro
#      #   - ${HOME}/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro
#      - ${HOME}/.aspnet/https:/home/app/.aspnet/https:ro
#      - ${HOME}/.aspnet/https:/root/.aspnet/https:ro
#        
  merchant.api:
    container_name: merchantapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=merchantdb;Port=5436;Database=MerchantDb;User Id=postgres;Password=postgres;;Include Error Detail=true;
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/home/app/.aspnet/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
    restart: unless-stopped
    depends_on:
      merchantdb:
        condition: service_started
    ports:
      - "6005:8080"
      - "6065:8081"
    volumes:
      #   - ${HOME}/.microsoft/usersecrets:/home/app/.microsoft/usersecrets:ro
      #   - ${HOME}/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro
      - ${HOME}/.aspnet/https:/home/app/.aspnet/https:ro
      - ${HOME}/.aspnet/https:/root/.aspnet/https:ro
  
#  gatewayapi:
#    container_name: gatewayapi
#    environment:
#      - ASPNETCORE_ENVIRONMENT=Production
#      - ASPNETCORE_HTTP_PORTS=8080
#      - ASPNETCORE_HTTPS_PORTS=8081
#      - ASPNETCORE_Kestrel__Certificates__Default__Path=/home/app/.aspnet/https/aspnetapp.pfx
#      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
#    depends_on:
#      - catalog.api
#      - basket.api
#      - ordering.api
#    ports:
#      - "6004:8080"
#      - "6064:8081"
#    volumes:
#      #   - ${HOME}/.microsoft/usersecrets:/home/app/.microsoft/usersecrets:ro
#      #   - ${HOME}/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro
#      - ${HOME}/.aspnet/https:/home/app/.aspnet/https:ro
#      - ${HOME}/.aspnet/https:/root/.aspnet/https:ro
  
  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:24.0.3
    command: start-dev --import-realm --http-port=8080 --hostname-strict=false --proxy=edge
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://keycloakdb:5432/KeycloakDb
      - KC_DB_USERNAME=postgres
      - KC_DB_PASSWORD=postgres
      - KC_PROXY=edge
      - KC_HOSTNAME_STRICT=false
      - KC_HOSTNAME_STRICT_HTTPS=false
      - KC_HTTP_ENABLED=true
      - KC_HOSTNAME=localhost:7005
    depends_on:
      - keycloakdb
    restart: always
    ports:
      - "7005:8080"
#    volumes:
#      - ./myrealm.json:/opt/keycloak/data/import/myrealm.json

#  webapp:
#    container_name: webapp
#    environment:
#      - NODE_ENV=production
#    depends_on:
#      - gatewayapi
#      - keycloak
#    restart: always
#    volumes:
#      - ./UserInterfaces/WebApplication/nginx.conf:/etc/nginx/conf.d/default.conf
#    ports:
#      - "80:80"
#      - "4001:4001"
#      - "4041:4041"
#

volumes:
  postgres_catalog:
  postgres_keycloak:
  postgres_merchant:
  minio_data:
  mongo_basket_data:
