services:
  keycloakdb:
    image: postgres:latest

  catalogdb:
    image: postgres:latest
  
  minio:
    image: minio/minio:latest
  
  basketdb:
    image: postgres:latest

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
  
  #  distributedcache:
  #    image: redis:latest
  
  orderdb:
    image: postgres:latest

  merchantdb:
    image: postgres:latest
  #
  #  messagebroker:
  #    image: rabbitmq:management
  
  catalog.api:
    image: ${DOCKER_REGISTRY-}catalogapi
    platform: linux/amd64
    depends_on:
      - catalogdb
    build:
      context: .
      dockerfile: ./src/Services/Catalog/Catalog.Api/Dockerfile
  
  basket.api:
    image: ${DOCKER_REGISTRY-}basketapi
    platform: linux/amd64
    depends_on:
      - basketdb
    build:
      context: .
      dockerfile: ./src/Services/Basket/Basket.Api/Dockerfile
  
  #  discount.grpc:
  #    image: ${DOCKER_REGISTRY-}discountgrpc
  #    platform: linux/amd64
  #    build:
  #      context: .
  #      dockerfile: ./src/Services/Discount/Discount.Grpc/Dockerfile
  #  
  order.api:
    image: ${DOCKER_REGISTRY-}orderapi
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./src/Services/Order/Order.Api/Dockerfile

  merchant.api:
    image: ${DOCKER_REGISTRY-}merchantapi
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./src/Services/Merchant/Merchant.Api/Dockerfile
  #  
  #  gatewayapi:
  #    image: ${DOCKER_REGISTRY-}gatewayapi
  #    platform: linux/amd64
  #    build:
  #      context: .
  #      dockerfile: ./src/Gateways/GatewayApi/Dockerfile
  
  #  webapp:
  #    image: ${DOCKER_REGISTRY-}webapp
  #    build:
  #      context: .
  #      dockerfile: UserInterfaces/WebApplication/Dockerfile

  otelcollector:
    image: otel/opentelemetry-collector:latest
  
  prometheus:
    image: prom/prometheus:latest

  loki:
    image: grafana/loki:latest

  jaeger:
    image: jaegertracing/all-in-one:latest
    
  grafana:
      image: grafana/grafana:latest

volumes:
  postgres_catalog:
  postgres_keycloak:
  postgres_order:
  postgres_merchant:
  mongo_basket_data:
  minio_data:
  otel_collector_config:
  prometheus_data:
  loki_data:
  jaeger_data:
  grafana_data:
      
  
