@{
    ViewData["Title"] = "MarketSpace - SSE Demo";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true"/>
}

<section class="home-container">
    <p> hello world </p>
</section>

@section Scripts {
    <script src="~/js/home/home.js" asp-append-version="true"></script>
}
