<link href="~/css/viewcomponents/header/header.css" rel="stylesheet" asp-append-version="true"/>

<div class="header">
    <p>MarketSpace</p>
    <div class="header__cart" onclick="toggleCart()">
        <div style="position: relative;">
            <i data-feather="shopping-cart"></i>
            <span id="cart-count" class="header__cart-count header__cart-count--hidden">0</span>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/viewcomponents/cart/cart-module.js"></script>
}
