<style>
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #dc3545;
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid #dee2e6;
        width: 100%;
        box-sizing: border-box;
    }
</style>

<div class="header-container">
    <p>MarketSpace</p>
    <div>
        <span class=""></span>
        <i data-feather="shopping-cart"></i>
    </div>
</div>

@section Scripts {
}


