<mat-toolbar class="header">
  <div class="header__logo">
    <span class="header__title" (click)="goToDashboard()">MarketSpace</span>
  </div>
  <div class="header__spacer"></div>
  <div class="header__actions">
    <button
      (click)="goToCheckout()"
      mat-icon-button
      class="header__action-button"
      aria-label="Shopping Cart"
      [matBadge]="cartStore.totalQuantity()"
      [matBadgeHidden]="cartStore.isEmpty()"
      matBadgeColor="accent">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>
